* {
    box-sizing: border-box;
    }

    body,h1,h2,h3,h4,h5,h6,a {
      font-family: 'Open Sans', sans-serif; 
      font-size: medium;
    }
  
    .row::after {
      content: "";
      clear: both;
      display: table;
    }
  
    [class*="col-"] {
      float: left;
      padding: 15px;
    }
  
  
    /* For mobile phones: */
    [class*="col-"] {
      width: 100%;
    }
  
    @media only screen and (min-width: 768px) {
    /* For desktop: */
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
    }

  .link-buttons{ 
      color: white !important;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      border-radius: 0.5rem !important;
      padding: 0.3rem 0.7rem 0.3rem 0.7rem !important; 
      width: auto;
      border: none !important;
      background-color: #1D0A68 !important;
    }
  
  .link-buttons:hover{
    background-color: #6F79AA !important; 
    border: none !important;
    color: white !important;
  }

  .form-buttons{
    background-color: #1D0A68 !important;
    color: white !important;
    border: none;
    padding: 0.3rem 0.7rem 0.3rem 0.7rem !important;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;   
    border-radius: 0.5rem;
  }

  .form-buttons:hover{
    background-color: #6F79AA !important; 
    border: none !important;
    color: white !important;
  }

  .back-btn {
    background-color: #1D0A68 !important;
    color: white !important;
    text-decoration: none;
    display: inline-block;
    border-radius: 0.5rem !important;
    padding: 0.5rem !important;
    width: 7rem !important;
    font-size: large !important;
    text-align: center !important;
  }

  .back-btn:hover{
    background-color: #6F79AA !important;
    color: white !important;
  }
 
  .edit-btn {
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 0.5rem !important;
    width: auto;
    padding: 0.2rem 0.7rem 0.2rem 0.7rem !important;
    background-color: darkgreen !important;
    color: white !important;
  }

  .delete-btn {
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 0.5rem !important;
    width: auto;
    background-color: darkred !important;
    color: white !important;
  }

  .view-btn {
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 0.5rem !important;
    width: auto;
    padding: 0.2rem 0.7rem 0.2rem 0.7rem !important;
    background-color: #727272 !important;
    color: white !important; 
  }
 
  .edit-btn:hover, .delete-btn:hover, .view-btn:hover, .case-btn:hover{
    background-color: #6F79AA !important;
    color: white !important;
    cursor: pointer !important;
  }

